@import "ember-bootstrap/bootstrap";
@import "main";

@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

* {
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span,
a,
button {
  font-family: "Fredoka One", cursive;
  line-height: 1.5;
}

.buttons-edit {
  display: flex;
  justify-content: space-between;
}

input,
textarea {
  background-color: #f5f5f5;
  border-width: 1px;
  border-color: #dcdcdc;
}

body,
.h-screen {
  height: 100vh;
}

.login-form__error {
  color: #dc3545;
}

.question-page {
  width: 66.67%;
}

.question-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.question-form__field {
  margin-top: 10px;
}

.btn-question {
  text-align: center;
  width: 200px;
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 30px;
  padding-right: 30px;
}

.btn-blue {
  color: white;
  background-color: royalblue;
}

.question-list {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.question-link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.question-list__col1 {
  margin-left: 10px;
  margin-right: 10px;
  width: 80px;
}

.question-list__col2 {
  margin-left: 10px;
  margin-right: 10px;
  width: 40px;
}

.question-list__controls {
  margin-top: 12px;
  margin-bottom: 12px;
  height: 30px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.question-options {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.question-details {
  display: flex;
  flex-direction: column;
  width: 600px;
}

.question-tags {
  flex-wrap: wrap;
  display: flex;
  margin-top: 5px;
}

.question-tags__element {
  margin-right: 10px;
  background-color: royalblue;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 15px;
  border: none;
}

button {
  // margin-left: 10px;
  margin-right: 10px;
}
